.bannerBgImage{
    height: 100vh;
    background: url("image.jpg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle{
    font-size: 4rem;
    color: #0d0d0d;
}

.bannerDesc{
    font-size: 2rem;
    color: #0d0d0d;
}

.bIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover{
    border: 2px solid yellowgreen;
}